/*
  Theme Name: Construction - Clean Construction HTML5 Template
  Author: nilartstudio
  Description: Construction  HTML5 Bootstrap 4 template.
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. header
3. slider-area
4. features area
5. promotion area
6. portfolio area
7. counter area
8. latest blog
9. blog style
10. blog sidebar
11. testimonial-wrapper
12. footer
13. team area
14 our-mission
15. service area
16. contact area
17. Careers
18. shop
19. product-details
20. cart
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Work+Sans:300,400,500,600,700,800');
 body {
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button,button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
button{cursor: pointer}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #FBBA42;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
input:focus,textarea:focus,:focus{outline: 0}
button:focus {
  outline: 0 none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #333333;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 17px;
	font-weight: normal;
	line-height: 30px;
	color: #777777;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.btn {
  -moz-user-select: none;
  background: #2f3440 none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-family: poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.1;
  padding: 20px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  border: 0;
}
.btn:hover{color: #fbba42}
.btn:hover:before{width:100%;color: #444}
.btn.brand-btn{background: #fbba42;color: #222}
.btn.brand-btn:hover{background: #2f3440;color: #fbba42}
.btn.btn-2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fbba42;
  line-height: 1;
  padding: 17px 35px;
}
.btn.btn-2:hover{border-color: #2f3440}
.btn i {
  margin-right: 10px;
}

/* 2. header */
.header-top-area {
  border-bottom: 1px solid #fbba42;
}
.transparent-header .header-white .social-icon > a {
	color: #fff;
}
.transparent-header .header-white .language ul li a {
	color: #fff;
}
.language ul li a {
  color: #646464;
  display: inline-block;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  padding: 18px 0;
}
.language-header-3 > ul > li > a {
  border: 2px solid #ebebeb;
  border-radius: 30px;
  line-height: 1;
  padding: 12px 30px;
}
.language ul li:hover> a{color: #fbba42}
.language ul li {
  position: relative;
}
.language ul li ul {
  background: #222 none repeat scroll 0 0;
  left: 0;
  opacity: 0;
  padding: 7px 0;
  position: absolute;
  top: 100%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 110px;
  z-index: 9;
}
.language ul li:hover ul{opacity: 1;visibility: visible;}
.language ul li ul li{}
.language ul li ul a {
  color: #ddd;
  display: block;
  font-size: 12px;
  padding: 5px 14px;
}

.social-icon{
  margin-left: 30px;
  padding-left: 30px;
  position: relative;
}
.social-header-3 {
  margin-left: 0;
  padding-left: 0;
}
.social-icon::before {
  background: #efefef none repeat scroll 0 0;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 2px;
}
.social-header-3:before{display: none}
.transparent-header .social-icon::before {
  background: #e0af4c none repeat scroll 0 0;
}
.social-icon > a {
  color: #646464;
  font-size: 14px;
  margin-right: 15px;
}
.social-icon > a:hover{color: #fbba42}


.header-right {
  margin-top: 15px;
}
.header-right li {
  display: inline-block;
}
.header-right ul li a {
  color: #646464;
  font-size: 16px;
}
.header-right ul li a:hover{color: #fbba42}
.header-right li {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.search-form {
  background: #222 none repeat scroll 0 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 200px;
  z-index: 9;
}
.header-right li:hover .search-form{visibility: visible;opacity: 1}
.search-form input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  height: 45px;
  padding: 0 15px;
  width: 100%;
}
.search-form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  line-height: 45px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 48px;
}
.search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.search-form input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.search-form input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.search-form input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}



/* header bottom */
.header-button {
  margin-left: 40px;
  margin-top: 31px;
}
.header-button > a {
  border: 2px solid #3b3f42;
  border-radius: 30px;
  color: #3b3f42;
  display: inline-block;
  font-weight: 500;
  padding: 14px 35px;
}
.transparent-header .header-button > a:hover{background: #3b3f42;color: #fff;border-color:#3b3f42}
.header-button > a:hover{background: #fbba42;color: #3b3f42;border-color:#fbba42}
.main-menu ul li a {
    color: #3b3f42;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 48px 0;
}
.main-menu ul li {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}
.main-menu ul li:hover > a{color:#fbba42 }

.main-menu ul li ul.submenu {
	background: #171a21 none repeat scroll 0 0;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 110%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 250px;
	z-index: 9;
}
.main-menu ul li:hover > ul.submenu{opacity: 1;visibility: visible;top:100%;}
.main-menu ul li ul.submenu li {
  border-bottom: 2px solid #1e2128;
  display: block;
  margin: 0;
}
.main-menu ul li ul.submenu li:last-child{border: 0;}
.main-menu ul li ul.submenu li a {
  color: #ddd;
  display: block;
  padding: 10px 20px;
  text-align: left;
}
.main-menu ul li ul.submenu li:hover > a{color: #FBBA42}


.main-menu ul li ul.submenu li ul.submenu {
  left: 100%;
  top: 0;
}

header.transparent-header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 56;
}
.transparent-header .main-menu ul li {
  margin-left: 45px;
}
.transparent-header .social-icon > a {
  color: #343434;
}
.transparent-header .language ul li a {
  color: #343434;
}
.transparent-header .header-right ul li a {
  color: #343434;
}
.transparent-header .header-top-area {
  border-bottom: 1px solid #d9a138;
}
.transparent-header .header-top-area.header-white {
	border: 0;
}
.transparent-header .main-menu ul li a {
  color: #343434;
}
.transparent-header .header-top-area.header-white .header-right ul li a {
	color: #fff;
}
.white-menu .main-menu ul li a {
	padding: 40px 0;
}
.white-menu {
	padding: 0 30px;
}
.transparent-header .white-menu  .main-menu ul li {
	margin-left: 35px;
}
.transparent-header .white-menu  .main-menu ul li ul.submenu li {
	margin-left: 0px;
}
.white-menu .header-button {
	margin-top: 24px;
}
.transparent-header .header-white .social-icon::before {
	background: #fff;
}
.white-menu .header-button > a {
	border: 2px solid #FBBA42;
}


/* header-3 */
.header-left-bar ul li {
  margin-left: 0;
}
.header-right.header-left-bar {
  margin-top: 3px;
}
.header-3-right{margin-top: 3px}



/* 3. slider-area */
.single-slider.slider-height {
  min-height: 850px;
   background-size: cover;
}

.slider-content span {
	font-family: poppins;
	font-size: 14px;
	letter-spacing: 6px;
	text-transform: uppercase;
	display: block;
}
.slider-content h1 {
    color: #333;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 12px;
    margin-top: 18px;
}
.slider-content p {
  color: #414149;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
  padding-right: 120px;
}
.single-slider.height-100 {
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.slide-img.slider-full > img {
  width: 75%;
}

.slider-active.dot-style .slick-dots {
	bottom: 25px;
}
.slider-active.dot-style .slick-dots button {
	border: 2px solid #2F3440;
	height: 12px;
	width: 12px;
}
.slider-active.dot-style .slick-dots > li.slick-active button {
	background: #2F3440;
}

/* slider-3 */
.single-slider.slider-height-3 {
  background-position: center center;
  background-size: cover;
  min-height: 720px;
}
.slider-height-3 .slider-content h1 {
  color: #fff;
  font-size: 90px;
  line-height: 1.1;
  margin-bottom: 30px;
}
.slider-height-3 .slider-content span {
  color: #fff;
}
.slider-height-3 .btn {
  border-radius: 30px;
}

.slider-content.slide-white span {
	color: #fff;
}
.slider-content.slide-white h1 {
	color: #fff;
}
.slider-content.slide-white p {
	color: #fff;
}


/* 4. features area */

.features-title > h2 {
    color: #414149;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
.features-title > h2 span {
    color: #fbba42;
}
.single-features h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}
.single-features.feature-white img {
	width: 100%;
}
.single-features > p {
  font-size: 17px;
  line-height: 30px;
  margin: 0;
}
.single-features.feature-white p {
	padding: 0 15px;
}
.single-features > img {
    margin-bottom: 30px;
}
.single-features {
  padding: 0 5px;
}
.single-features.feature-white {
	background: #fff;
	padding-bottom: 50px;
}
.single-features.feature-white > img {
	margin-bottom: 50px;
}

/* 5. promotion area */
.promotion-img {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
.promotion-area {
  position: relative;
}
.promotion-text {
  padding-left: 65px;
}
.promotion-thumb img {
	width: 100%;
}
.promotion-text h3 {
  font-size: 28px;
  font-weight: 600;
}
.promotion-text > span {
  color: #777777;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.promotion-text > p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 30px;
}
.promotion-img-3 {
  width: 100%;
}

/* 6. portfolio area */
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-thumb::before {
  background: #fbba42 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}
.portfolio-wrapper:hover .portfolio-thumb::before{opacity: .85;visibility: visible;}
.portfolio-thumb > img {
    width: 100%;
    transition: .3s;
}
.portfolio-wrapper:hover .portfolio-thumb > img{transform: scale(1.2) rotate(7deg);}
.portfolio-content {
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}
.portfolio-wrapper:hover .portfolio-content{opacity: 1;visibility: visible;}
.portfolio-wrapper {
    position: relative;
}
.portfolio-content > h3 {
    color: #2f3440;
    font-size: 18px;
    font-weight: 600;
}
.portfolio-content > h3:hover a{color: #666}
.icon a {
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  position: relative;
  width: 20px;
}
.icon a::before ,.icon a::after {
    background: #414149 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 20px;
}
.icon a::after {
  height: 20px;
  top: -9px;
  width: 2px;
}


.portfolio-menu > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #3b3f42;
  cursor: pointer;
  font-weight: 400;
  margin: 0 8px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.portfolio-menu > button:focus {
  outline: 0 none;
}
.portfolio-menu > button:hover,.portfolio-menu > button.active{background: #fbba42}

/* portfolio details */
.project-details-title {
  font-size: 28px;
  font-weight: 600;
}
.portfolio-details-img img {
	width: 100%;
}
.project-desc > p {
  margin-bottom: 30px;
}
.project-status {
  padding: 40px;
}
.project-status ul li {
  margin-bottom: 30px;
}
.project-status ul li:last-child {
  margin-bottom: 0px;
}
.project-status ul li span {
  color: #777;
  display: block;
  font-size: 17px;
  margin-top: 10px;
}
.project-status ul li b {
  font-size: 16px;
  text-transform: uppercase;
  color: #777
}

/* section title */
.section-title > h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 15px;
}
.section-title.white-text > h2{color: #fff}
.section-title.white-text > p{color: #fff}
.section-title > p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 0;
}
.section-title-2 > h2 {
  font-size: 40px;
}
.section-title-2 > a {
  color: #333333;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 2px;
  margin-top: 20px;
  text-transform: uppercase;
}
.section-title-2 > a:hover{text-decoration: underline}
/* 7. counter area */
.counter-area {
  background-size: cover;
}
.single-couter > span {
  color: #333333;
  display: block;
  font-family: poppins;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 20px;
}
.single-couter > p {
  color: #333333;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}
.single-couter.counter-2 > span {
  font-size: 72px;
  line-height: 1;
  margin-top: 0;
}
 .single-couter.counter-2 > p {
  color: #333333;
  font-size: 15px;
  line-height: 30px;
  padding-left: 20px
}

/* 8. latest blog */

.blog-wrapper {
    border: 1px solid #e0e0e0;
    overflow: hidden;
    padding: 30px;
    transition: .3s;
}
.blog-white{}
.blog-white .blog-wrapper:hover{background: #f7f7fd}
.blog-wrapper:hover{border: 1px solid transparent;background: #fff;}
.blog-inner {
    overflow: hidden;
}
.tag-blog > a {
  background: #fbba42 none repeat scroll 0 0;
  border-radius: 30px;
  color: #333333;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 7px 20px;
}
.blog-inner h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.blog-inner > p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}
.blog-meta {
  border-top: 1px solid #e0e0e0;
  padding-top: 25px;
}
.blog-meta span {
  color: #646464;
}
.blog-meta span a {
  color: #333333;
  font-size: 11px;
}
.blog-meta span a:hover{color: #FBBA42}
.blog-more {
  color: #3b3f42;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateX(0px);
  transition: all 0.3s ease 0s;
}
.blog-more:hover{color: #FBBA42}
.blog-more-btn {
  transform: translateX(40px);
  transition: all 0.3s ease 0s;
}
.blog-wrapper:hover .blog-more-btn {transform: translateX(0px);}
.custom-row {
  margin: 0 -15px;
}

.dot-style .slick-dots {
  bottom: -60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
 .dot-style .slick-dots > li {
  display: inline-block;
  line-height: 0;
  margin: 0 5px;
}
.dot-style .slick-dots > li.slick-active button{background: #646464}
.dot-style .slick-dots button {
  border: 2px solid #646464;
  border-radius: 50%;
  height: 10px;
  padding: 0;
  text-indent: -10000px;
  width: 10px;
}

/* latest blog 2 */
.blog-latest-content {
  padding-top: 25px;
}
.blog-img img {
	width: 100%;
}
.blog-title {
  margin-bottom: 20px;
}
.blog-title > span {
  border: 1px solid #ebebeb;
  color: #333;
  display: inline-block;
  float: left;
  font-family: poppins;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  line-height: 1;
  padding-top: 10px;
  text-align: center;
  width: 50px;
}
.blog-title > span span {
  display: block;
  font-size: 11px;
  font-weight: 400;
}
.blog-title > h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
  margin-left: 45px;
  padding-left: 20px;
}
.blog-latest-content a.btn {
  font-size: 14px;
  text-transform: capitalize;
}
.blog-latest-content > p {
  margin-bottom: 30px;
}


/* 9. blog style */

.blog-item-content h3 a {
    color: #333;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}
.blog-item-content h3 a:hover{color: #fbba42}
.blog-item-content > span {
    color: #333333;
    display: block;
    font-family: poppins;
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.blog-item-content > span::after {
    background: #fbba42 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 70px;
    position: absolute;
    top: 9px;
    width: 80px;
}
.post-meta > span a:hover{color:#fbba42 }
.blog-item-content > h3 {
    margin-bottom: 10px;
}
.blog-item-content > p {
  margin: 0 0 15px;
}
.blog-item-content {
    padding-top: 20px;
}

.construction-pagination .page-item:first-child .page-link {
  border-radius: 0;
  margin-left: 0;
}
.construction-pagination .page-item:last-child .page-link {
  border-radius: 0;
}
.construction-pagination .page-item {
  margin: 0 5px;
}
.construction-pagination .page-item:first-child{margin-left: 0}
.construction-pagination .page-link {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #444;
  display: block;
  font-weight: 400;
  line-height: 1.25;
  margin-left: -1p
  padding: 0.5rem 0.75rem;
  position: relative;
  text-align: center;
  width: 40px;
}
.construction-pagination .page-item.active .page-link {
  background-color: #fbba42;
  border-color: #fbba42;
  color: #fff;
  z-index: 1;
}

/* 10. blog sidebar */
.post-meta span a {
  color: #333333;
}
.post-meta > span {
  color: #787878;
  font-family: poppins;
  font-size: 14px;
  margin-right: 5px;
  text-transform: uppercase;
}
.post-meta {
  margin-bottom: 18px;
}
.blog-post .blog-item-content h3 a {
  font-size: 36px;
  line-height: 48px;
}
.blog-post {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 30px;
}
.blog-thumb img {
  width: 100%;
}
.sidebar-form{}
.sidebar-form form {
  position: relative;
}
.sidebar-form form input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #eee;
	color: #ccc;
	padding: 0 10px;
	text-indent: 10px;
	transition: all 0.2s ease 0s;
	width: 100%;
	height: 50px;
}
.sidebar-form form input::-moz-placeholder {
  color: #999;
  font-size: 12px;
  opacity: .5;
}
.sidebar-form form button {
  background: #222 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  font-size: 20px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 50px;
}
.sidebar-form form button:hover{background:#EE3333;}
.sidebar-widget > h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
}
.sidebar-widget > h3::before {
    background: #fbba42 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}

.cat li a {
  color: #777777;
  font-size: 17px;
  line-height: 1;
}
.cat li{margin-bottom: 15px}
.cat li:last-child{margin-bottom: 0}
.cat li a::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  font-weight: 700
}
.cat li a:hover{color:#fbba42 }
.rc-post-img {
  float: left;
}
.rc-post-content {
  margin-left: 75px;
}
.rc-post-content h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 0;
}
.rc-post-content h5 a:hover{color:#fbba42}
.rc-post-content > span {
  color: #646464;
  font-size: 12px;
}
.rc-post > li {
  margin-bottom: 25px;
}
.rc-post > li:last-child {
  margin-bottom: 0;
}
.tags > li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
}
.tags li a {
  border: 1px solid #e6e6e6;
  color: #646464;
  display: inline-block;
  padding: 10px;
  font-size: 12px
}
.tags li a:hover{background: #FBBA42;border-color: #FBBA42}

/* blog details */
.blockquote {
  border-left: 5px solid #e6e6e6;
  font-size: 1.25rem;
  margin-bottom: 35px;
  margin-left: 50px;
  margin-top: 35px;
  padding-left: 15px;
}
.blog-content-img img {
	width: 100%;
}
.blog-post-tag > a {
  border: 1px solid #ededed;
  color: #444;
  display: inline-block;
  font-size: 12px;
  padding: 10px;
}
.blog-post-tag > a:hover{background: #FBBA42;border-color: #FBBA42}
.blog-share-icon > span {
  color: #595959;
  font-size: 15px;
}
.blog-share-icon> a {
  color: #595959;
  font-size: 15px;
  margin: 0 8px;
}
.blog-share-icon> a:hover{color: #FBBA42}
.blog-share-icon {
  margin-top: 8px;
}
/* blog comments */

.comments-avatar {
  float: left;
  width: 103px;
}
.comments-text {
  overflow: hidden;
  padding-left: 30px;
}
.avatar-name > h5 {
    float: left;
    font-size: 14px;
    font-weight: 600;
}
.avatar-name > span {
    color: #646464;
    float: right;
    font-size: 12px;
}
.avatar-name {
    margin-bottom: 10px;
    overflow: hidden;
}
.comments-box {
  margin-bottom: 50px;
}
.comments-reply {
  padding-left: 130px;
}
.comments-text > p {
    color: #646464;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}
.comments-text > a {
    border: 1px solid #ddd;
    color: #444;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 7px 20px;
    text-transform: uppercase;
}
.comments-text > a:hover{background: #FBBA42;border-color: #FBBA42}

.post-comments-form {}
.post-comments-form input {
  border: 1px solid #e6e6e6;
  height: 45px;
  margin-bottom: 25px;
  padding: 0 15px;
  width: 100%;
}
.post-comments-form textarea {
  border: 1px solid #e6e6e6;
  height: 130px;
  margin-bottom: 25px;
  padding: 15px;
  width: 100%;
}
.post-comments-form  button{}


/* 11. testimonial-wrapper */
.testimonial-wrapper {
  border: 1px solid #ebebeb;
  margin-top: 60px;
  padding: 0 40px 35px;
}
.testimonial-img {
  margin-bottom: 25px;
  margin-top: -59px;
    display: inline-block;
  text-align: center;
}
.testimonial-wrapper > p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}
.client-info > h4 {
  font-size: 18px;
  font-weight: 500;
}
.client-info > span {
  color: #777777;
  font-size: 14px;
}
/* testimonial 3 */
.testimonial-3 {
  margin: 0;
  padding: 48px;
}
.testimonial-3 i {
  color: #fbba42;
  font-size: 36px;
  margin-bottom: 40px;
}
.testimonial-3 > p {
  margin-bottom: 30px;
}

.brand-border{border-bottom: 1px solid #fbba42}
/* testimonial 2 */
.testimonial-item i {
    color: #fbba42;
    font-size: 72px;
    margin-bottom: 40px;
}
.testimonial-item > p {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 25px;
}
.designation > h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}
.testimonial-nav {
  margin: 50px auto auto;
  text-align: center;
  width: 310px;
}
.testimonial-nav button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #333333;
  font-size: 20px;
  left: -50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.testimonial-nav button.slick-next {
  left: auto;
  right: -50px;
}
.testimonial-thumb > img {
  transform: scale(0.7);
}
.testimonial-thumb.slick-center > img {
  transform: scale(01);
}

.single-brand {
	text-align: center;
}
.single-brand a {
  display: inline-block;
}


/* 12. footer */
.footer-widget > h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}
.black-footer .footer-widget > h3{color: #fff}

.footer-info > li {
  color: #777777;
  font-size: 17px;
  line-height: 36px;
}
.black-footer .footer-info > li {
	color: #999;
}
.footer-link > li {
  float: left;
  width: 50%;
}
.footer-link li a {
  color: #777;
  display: inline-block;
  font-size: 17px;
  line-height: 36px;
  padding-left: 20px;
  position: relative;
}
.black-footer .footer-link li a {
	color: #999;
}
.black-footer .footer-widget p {
	color: #999;
}
.footer-link li a:hover{color: #fbba42}
.footer-link li a::before {
  content: "\f0da";
  left: 0;
  position: absolute;
  top: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900
}

.footer-widget > form {
  position: relative;
}
.footer-widget form input {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 40px;
  padding: 0 15px;
  width: 100%;
}
.footer-widget form button {
  background: #fbba42 none repeat scroll 0 0;
  border: 0 none;
  color: #3b3f42;
  font-weight: 600;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top:0
}
.footer-icon > a {
  color: #3b3f42;
  font-size: 14px;
  margin-right: 40px;
}
.black-footer .footer-icon > a {
	color: #999;
}
.footer-icon > a:hover{color: #fbba42}
.copyright-text > p {
  margin: 0;
}
.black-copyright .copyright-text > p {
	color: #999;
}
.footer-menu{}
.footer-menu ul{}
.footer-menu ul li {
	display: inline-block;
	margin-left: 20px;
}
.footer-menu ul li a{color: #999}
.black-copyright {
	background: #2e2e2e;
}

/* extra info */
.extra-info {
	background: #222 none repeat scroll 0 0;
	height: 100%;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.7s ease 0s;
	width: 400px;
	z-index: 88;
	transform: translateX(100%);
}
.extra-info.info-open {
  transform: translateX(0);
}
.extra-info-left{right:inherit;left: 0;transform: translateX(-100%);}
.extra-info.extra-info-left.info-open{transform: translateX(0);}
.close-icon {
  margin-top: -16px;
  text-align: right;
}
.close-icon > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #fbba42;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}
.extra-info > p {
  color: #ddd;
  font-size: 15px;
  line-height: 28px;
}
.instagram > a {
  float: left;
  width: 33.33%;
}
.instagram img {
  width: 100%;
}
.social-icon-right > a {
  border: 2px solid #ddd;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.instagram {
  overflow: hidden;
}

/* 13. team area */
.team-info > h3 {
    color: #333333;
    font-size: 18px;
    margin-bottom: 5px;
}
.team-info > span {
    color: #777777;
    font-size: 16px;
}
.team-info {
    padding-top: 33px;
}
.team-img {
  position: relative;
}
.team-img img {
	width: 100%;
}
.team-img::before {
  background: #fbba42 none repeat scroll 0 0;
  content: "";
  height: 0;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.single-team:hover .team-img::before{height: 100%}
.team-icon {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: :0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.single-team:hover .team-icon{opacity: 1;visibility: visible; transform: translateY(-50%);}
.team-icon > a {
  border-radius: 50%;
  color: #2d2c40;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 0 2px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 30px;
}
.team-icon > a:hover{background: #fff none repeat scroll 0 0;}

/* team about */

.team-box {
    padding: 25px;
}
.team-title {
    margin-bottom: 20px;
    margin-top: 30px;
}
.team-title > h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 7px;
}
.team-title > span {
    color: #777777;
    font-size: 16px;
}
.team-about-icon > a {
    background: #f7f7f7 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    color: #3f5666;
    margin: 0 4px;
}
.team-about-icon > a:hover{background: #f8ca4d}



/* 14 our-mission */
.our-mission .btn-link {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
}
.our-mission .btn-link::before {
  background: #fbba42 none repeat scroll 0 0;
  border: 1px solid #fbba42;
  content: "-";
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  width: 30px;
}
.our-mission .btn-link.collapsed::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #282828;
  content: "+";
  height: 30px;
  line-height: 30px;
  position: absolute;
  width: 30px;
}
.our-mission .btn-link:hover {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  text-decoration: none;
}
.btn-link:focus{text-decoration: none}
.our-mission .card-header {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}
.our-mission .card {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  background-clip: border-box;
  background-color: #fff;
  border: 0 none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  min-width: 0;
  overflow-wrap: break-word;
  position: relative;
}
.our-mission .card-body {
  -moz-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem 1.25rem 0;
}

/* page title area */
.page-title h1 {
  color: #414149;
  font-size: 72px;
  font-weight: 700;
}
.breadcrumb-item > a {
  color: #2f3440;
  font-size: 17px;
}
.breadcrumb {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}


/* 15. service area */
.service-box {
  border: 2px solid transparent;
  padding: 30px;
  transition: .3s
}
.service-box:hover{border-color: #f2f2f2}
.service-box i {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 50%;
    color: #333333;
    font-size: 28px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: center;
    width: 50px;
}
.service-box > h3 {
    color: #333333;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}
.service-box > p {
    margin-bottom: 0;
}
/* service 2 */
.service-list i {
	background: #56b9d0;
	border-radius: 50%;
	color: #fff;
	font-size: 24px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 30px;
	text-align: center;
	width: 60px;
}
.service-list h3 {
	color: #333333;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 11px;
}
.service-list p {
	margin: 0;
}

/* service page 2 */
.service-box.service-3 {
	padding: 0;
	border: 0;
}
.service-box.service-3 img {
	margin-bottom: 30px;
	width: 100%;
}
.service-box.service-3:hover {
	border-color: none;
	border: 0;
}
.service-box.service-3 h4{font-weight: 600;}
.sidebar-link {
	padding: 35px 30px;
}
.servicee-sidebar h3 {
	font-size: 24px;
	color: #333333;
	font-weight: 600;
	border-bottom: 2px solid #fbba42;
	padding-bottom: 15px;
	margin-bottom: 35px;
	line-height: 1;
}
.sidebar-link ul{}
.sidebar-link ul li {
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 23px;
	padding-bottom: 24px;
}
.sidebar-link ul li:last-child{margin: 0;padding: 0; border: 0}
.sidebar-link ul li a {
	color: #777777;
	font-weight: 500;
	display: block;
	line-height: 1;
}
.sidebar-link ul li a:hover {
	color: #222;
}
.sidebar-download{}
.sidebar-download ul li {
  margin-bottom: 24px;
}
.sidebar-download ul li:last-child{margin: 0}
.sidebar-download ul li a {
	border: 1px solid #e1e1e1;
	display: block;
  padding: 15px 30px;
  color: #777777;
  font-size: 17px;
}
.sidebar-download ul li a i {
	margin-right: 15px;
	font-size: 24px;
	position: relative;
	top: 3px;
}
/* 16. contact area */
.contact-form {
  padding: 60px 40px;
}
.contact-form > h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
}
.contact-form input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: currentcolor currentcolor #cccccf;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  font-size: 13px;
  height: 60px;
  margin-bottom: 40px;
  width: 100%;
}
.contact-form textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: currentcolor currentcolor #cccccf;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  height: 80px;
  margin-bottom: 40px;
  width: 100%;
}
.contact-form button{}

.contact-info > span {
  color: #646464;
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}
.contact-info {
  border: 1px solid #f2f2f2;
  padding: 60px 45px;
}
.contact-info h2 {
  color: #414149;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
.contact-meta-info h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.contact-meta-info > p {
  margin-bottom: 5px;
}

/* 17. Careers */
.why-chose {
  padding: 0 20px;
}
.why-chose i {
  background: #fbba42 none repeat scroll 0 0;
  border-radius: 50%;
  color: #414149;
  font-size: 36px;
  height: 110px;
  line-height: 108px;
  margin-bottom: 30px;
  width: 110px;
}
.why-chose h2 {
  color: #414149;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.why-chose > p {
  margin: 0;
}

.job-list {
  padding: 30px 30px 65px;
}
.job-list h3 {
  border-bottom: 1px solid #fbba42;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 15px;
}
.job-list ul li {
  margin-bottom: 20px;
}
.job-list ul li a {
  color: #777777;
  display: block;
  font-size: 17px;
  font-weight: 500;
}
.job-list ul li a:hover{color: #000}
.job-desc > h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}
.job-desc ul li {
  color: #777777;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-left: 25px;
  position: relative;
}
.job-desc ul li::before {
  border: 2px solid #5a596a;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 10px;
}
.cv-sned p span {
  font-weight: 600;
}


/* 18. shop */
.product-img {
    border: 1px solid #ebebeb;
    position: relative;
    transition:.3s
}
.product-wrapper:hover .product-img{border-color: #fbba42}
.product-img img {
    width: 100%;
}
.product-action > a {
    background: #fbba42 none repeat scroll 0 0;
    color: #414149;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.product-action {
    left: 10px;
    position: absolute;
    top: 10px;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
}
.product-wrapper:hover .product-action{opacity: 1;visibility: visible}
.product-content {
  padding-top: 20px;
}
.product-action h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.product-content h4 {
    color: #292929;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.product-content spaco {
    color: #292929;
    font-size: 16px;
}
.product-content span {
    color: #292929;
    font-size: 16px;
}
.nice-select {
  border: 1px solid #d6d6d6;
  border-radius: 0;
  float: right;
}
.product-show {
  margin-top: 14px;
}
.product-show > p {
  line-height: 1;
  margin: 0;
}


/* 19. product-details */
.product-tab {
  float: left;
  width: 70px;
}
.product-zoom-img .tab-content {
  margin-left: 95px;
}
.product-tab .nav-link {
  padding: 0;
  margin-bottom: 30px
}
.product-zoom-img .tab-pane img {
	width: 100%;
}


.product-desc h2 {
    color: #010101;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}
.rating > a {
    color: #fbba42;
    font-size: 15px;
}
.pro-details-action a {
    display: inline-block;
    float: left;
    padding-bottom: 17px;
    padding-top: 17px;
}
.product-desc .nice-select {
  border: 1px solid #d6d6d6;
  border-radius: 0;
  display: inline-block;
  float: none;
  height: 50px;
  line-height: 45px;
  margin-left: 20px;
  width: 70px;
}

.product-desc > span {
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0;
}
.product-desc > p {
  margin-bottom: 40px;
}

.nav.review-tab {
  border-bottom: 1px solid #e5e5e5;
}
.review-tab .nav-link {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  padding-bottom: 15px;
}
.review-tab .nav-item {
  margin-right: 65px;

   position: relative
}
.review-tab .nav-link.active::before {
  background: #fbba42 none repeat scroll 0 0;
  bottom: -1px;
  content: "";
  height: 2px;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.pro-comments-img {
  float: left;
}
.pro-commnets-text {
  margin-left: 80px;
  overflow: hidden;
}
.pro-commnets-text h4 {
  font-size: 17px;
}
.pro-commnets-text span {
  font-size: 14px;
}
.pro-commnets-text .rating {
  margin-bottom: 20px;
}
.pro-commnets-text > p {
  margin: 0;
}
.product-commnets-list {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
}
.product-commnets .product-commnets-list:last-child{border: 0}

.review-box > h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.rating-list {
  display: inline-block;
}
.your-rating > span {
  color: #414149;
  font-size: 16px;
}
.rating-list > a {
  color: #646464;
  font-size: 13px;
}

.review-form{}
.review-form label {
  color: #414149;
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}
.review-form textarea {
  border: 1px solid #eaeaea;
  height: 80px;
  margin-bottom: 25px;
  padding: 15px;
  width: 100%;
}
.review-form input {
  border: 1px solid #eaeaea;
  height: 40px;
  margin-bottom: 30px;
  padding: 0 15px;
  width: 100%;
}
.review-form button{}

/* 20. cart  */
.cart-name h4 a {
  color: #414149;
  font-size: 17px;
}
.cart-name h4 a:hover{color: #fbba42}
.cart-price span {
  color: #777777;
  font-size: 17px;
}
.cart-select .nice-select {
  border: 1px solid #d6d6d6;
  border-radius: 0;
  float: none;
  margin: auto;
  width: 60px;
}
.cart-table .table-bordered td, .cart-table .table-bordered th {
  border: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
}
.cart-table .table-bordered td, .cart-table .table-bordered th {
  border: 1px solid #dee2e6;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}
.cart-del > a {
  color: #777777;
}
.coupon-left input {
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 15px;
  width: 50%;
}
.coupon-left button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #414149;
  font-size: 16px;
  margin-left: 10px;
  padding: 12px 35px;
  text-transform: uppercase;
}
.update-cart > a {
  border: 1px solid #ddd;
  color: #414149;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  padding: 14px 25px;
}
.update-cart > a:hover,.coupon-left button:hover{background: #fbba42;border-color:#fbba42}
.cart-total-price > ul {
  border: 1px solid #ddd;
}
.cart-total-price li {
  border-bottom: 1px solid #ddd;
  padding: 17px 28px;
}
.cart-total-price li:last-child{border: 0}
.cart-total-price span {
  float: right;
  font-weight: 500;
}
.cart-total-price > ul {
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

/* scrollUp */
a#scrollUp {
  background: #222 none repeat scroll 0 0;
  bottom: 30px;
  color: #fff;
  height: 45px;
  line-height: 44px;
  right: 30px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 45px;
  font-size: 18px;
}
a#scrollUp:hover{background:  #fbba42;color: #444}



/* search modal */
#search-modal {
	background-color: rgba(23,26,33,.95);
}
#search-modal .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border: none;
	outline: 0;
}
#search-modal .modal-dialog .modal-content {
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}
#search-modal .modal-dialog .modal-content form {
	width: 555px;
	position: relative;
}
#search-modal .modal-dialog .modal-content form input {
	width: 100%;
	font-size: 36px;
	border: none;
	border-bottom: 3px solid rgba(255,255,255,.1);
	background: 0 0;
	color: #fff;
	padding-bottom: 12px;
	padding-right: 40px;
}
#search-modal .modal-dialog .modal-content form input::-moz-placeholder {
	font-size: 35px;
}
#search-modal .modal-dialog .modal-content form input::placeholder {
	font-size: 35px;
}
#search-modal .modal-dialog .modal-content form button {
	position: absolute;
	right: 0;
	margin-bottom: 3px;
	font-size: 30px;
	color: rgba(255,255,255,.5);
	background: 0 0;
	border: none;
	cursor: pointer;
	top: 11px;
}


.result-bar h3 {
	font-size: 36px;
	font-weight: 600;
	background: #f7f7fd;;
	padding: 40px 30px;
	margin-bottom: 40px;
}


/* 404 */
.error-text h1 {
	font-size: 112px;
	font-weight: 700;
}
.error-text h2 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 20px;
}
.error-text p {
	font-weight: 400;
	margin-bottom: 25px;
}